
<div class="container <%= 'darker' if message.sender != current_user %>">
  <img src="/w3images/bandmember.jpg" alt="Avatar" class="<%= 'right' if message.sender != current_user %>">
  <p class="mb-1"><%= message.sender.first_name %>: <%= message.text %></p>
  <div class="text-right">
    <small>
      <%= message.created_at %>
    </small>
  </div>
</div>
