
<div class="light-container m-2 <%= 'darker' if current_user_role == :recipient %>">

  <% if message.sender.photo.attached? %>
    <div class="avatar-small"><%= cl_image_tag message.sender.photo.key,crop: :thumb, gravity: :face, height:40, width:40%></div>
    <% end %>
  <p class="mb-1"><h4 class="middle-size"><%= message.sender.first_name %></h4><p class="small-size" id="blue"><%= message.text %></p></p>
  <div class="text-right">
    <small>
      <p><%= message.created_at.time.to_formatted_s(:short) %></p>
    </small>
  </div>
</div>
