<h1> Send your message </h1>

<div class="row">
  <div class= "col-md-6 col-md-offset-3">
    <%= simple_form_for [@user, @message] do |f| %>
      <%= f.input :text, placeholder: "Type your message", label: false %>
      <%= f.submit "Send", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>


<h1> Chat </h1>
<div class="col">
  <% @messages.each do |message| %>
    <div class="message-content">
      <p class="mb-1">Message:<%= message.text %></p>
      <div class="text-right">
        <small>
          <%= message.created_at %>
        </small>
      </div>
    </div>
  <% end %>
</div>








