<h1> Send your message </h1>

<div class="row">
  <div class= "col-md-6 col-md-offset-3">
    <%= simple_form_for([@user, @message], remote: true) do |f| %>
      <%= f.input :text, placeholder: "Type your message", label: false %>
      <%= f.submit "Send", class: "btn btn-primary", id: "submit-button" %>
    <% end %>
  </div>
</div>

<div class="messages-container">
  <% @messages.each do |message| %>
    <%= render 'message', message: message, current_user_role: message.sender == current_user ? :sender : :recipient %>
  <% end %>
</div>


<input type="hidden" id="recipient-id" value="<%= @user.id %>">







