

<div class="chatroom">

  <div class="chat-header">
    <h3 class="middle-size" id="corail">Knock-Knock Chat with <%= @user.first_name %></h3>
  </div>

<!--   <div class="chat-welcome">
    <%# if Message.where(recipient: @user, sender: current_user).empty? %>
      <p>Start to chat!</p>
    <%# end %>
  </div> -->



  <div class="messages-container">
    <div class="welcome-container">
      <%= image_tag "logo-knock-couleur.svg",width:150 %>
      <h3 class="small-size mt-2" >Start chatting!</h3>
    </div>
    <% @messages.each do |message| %>
      <%= render 'message', message: message, current_user_role: message.sender == current_user ? :sender : :recipient %>
    <% end %>
  </div>

  <div class="form-chat">
        <%= simple_form_for([@user, @message], remote: true) do |f| %>
          <%= f.input :text, placeholder: "Type your message", label: false %>
          <%#= f.submit "KNOCK", class: "btn-submit", id: "submit-button" %>
          <%= button_tag(:type => 'submit', :class => 'btn-submit', id: 'submit-button') do %>
           <i class="fas fa-paper-plane"></i>
          <% end %>
        <% end %>
  </div>

</div>


<input type="hidden" id="recipient-id" value="<%= @user.id %>">

<div class="image-fond-message">
    <%= image_tag "message-illu.svg" %>
</div>






