 <div class="d-flex  ">
  <div class="sticky-index">
<% if params[:range].present? %>
  <h1 id="mid-purple"class="m-4 small-size"><%= pluralize @users.size, "knockie" %> around you</h1>
<% else %>
  <h1 id="mid-purple"class="m-4 small-size">Find knockies nearby</h1>
<% end %>
    <div class="map-box mr-3"
      id="map"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
   <div class="btn-localisation d-flex  justify-content-center mt-1">
      <button class='btn-secondary localize m-2' id='2kms' data-range="2">2 km</button>
      <button class='btn-secondary localize m-2' id='5kms' data-range="5">5 km </button>
      <button class='btn-secondary localize m-2' id='10kms' data-range="10">10 km</button>
    </div>
  </div>

  <div class ="flex-grow-1  ">
    <div class="cards scrolling">
      <!-- render partial user_cards -->
      <% @users.each do |user| %>
        <div class="card-index-user user-<%= user.id %>" data-user-id="<%= user.id %>">
          <%= link_to(user_path(user)) do %>
            <%#= cl_image_tag user.photo.key, width: 150, height: 150, crop: :thumb, gravity: :face %>
            <div>
              <h4 class="small-size"><%= user.first_name %></h4>
              <h2 class ="xsmall-size"><%= user.job.upcase %></h2>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
