 <div class="d-flex  ">
  <div class="sticky-index">
    <div class="results">
      <% if params[:range].present? %>
        <h1 id="mid-purple"class="small-size"><%= pluralize @users.size, "knockie" %> around you</h1>
      <% else %>
        <h1 id="mid-purple"class="small-size">Find knockies nearby</h1>
      <% end %>
    </div>
    <div class="map-box"
      id="map"
      style="height: 400px"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      <div class="map-hover d-none">
        <div class="d-flex justify-content-center text-center">
          <div class="spinner-grow" style="width: 3rem; height: 3rem; color: $corail;" role="status">
            <span class="sr-only" style="">Loading...</span>
          </div>
        </div>
      </div>
    </div>
    <div class="btn-localisation d-flex  justify-content-center mt-1">
      <button class='btn-secondary localize m-2' data-range="2">2 kms</button>
      <button class='btn-secondary localize m-2' data-range="5">5 kms </button>
      <button class='btn-secondary localize m-2' data-range="10">10 kms</button>
    </div>
  </div>

  <div class ="flex-grow-1">
    <div class="cards scrolling">
      <% @users.each do |user| %>
        <div class="card-index-user user-<%= user.id %>" data-user-id="<%= user.id %>">
          <%= link_to(user_path(user)) do %>
            <div class="d-flex">
              <div>
                <%= cl_image_tag user.photo.key, crop: :thumb, gravity: :face, class: "xsmall-avatar" %>
              </div>
              <div class="card-index-user-info">
                <div class="username">
                  <h4 class="small-size"><%= user.first_name %></h4>
                  <% if params[:range].present? %>
                  <span><i class="fas fa-map-marker-alt"></i> <%= ((Geocoder::Calculations.distance_between([params[:longitude],params[:latitude]], [user.longitude, user.latitude])).round(2)) %>km</span>
                  <% end %>
                </div>
                <h2 class ="xsmall-size"><%= user.job.upcase %></h2>
                <h3 class ="xsmall-size"><%= user.status %></h2>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
