<div class= top-banner>
</div>


<div class=" map-box"
  id="map"
  style="width: 100%;
  height: 75vh;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
<!-- <div class= top-banner>
</div> -->
<div class= "m-3" >
  <div class="pt-2 m-2"><button class='btn-primari btn-locate' id='localize'>  LOCATE ME</button>
</div>

  <div class="cards mt-4">
    <!-- render partial user_cards -->
    <% @users.each do |user| %>
      <div class="card-index-user">
        <%= link_to(user_path(user)) do %>
          <%#= cl_image_tag user.photo.key, width: 150, height: 150, crop: :thumb, gravity: :face %>
          <h4 class="small-size"><%= user.first_name %></h4>
          <h2 class ="xsmall-size"><%= user.job.upcase %></h2>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<%#= link_to "TEST", users_path(latitude: 48.8656, longitude: 2.3789894, range: 2) %>
