<div class = "container m-4">
<div class= "top-banner mb-4">
      <h3 class="small-size text-right p-3 " id="corail">  <%=Date.today.to_s(:long) %></h3>
  </div>



    <div class= "card-all-info  d-flex justify-content-start " >
      <% if @user.photo.attached? %>
        <div class="avatar-large m-5"><%= cl_image_tag @user.photo.key, height:50, width:50 %></div>
      <% end %>
      <div class= "card-global-info m-5">
        <h4 class="big-size"><%= @user.first_name %> </h4>
        <h3 class="small-size pb-2"><em>"<%= @user.status %>"</em></h3>
        <h2 class ="small-size mb-3"><%= @user.job.upcase %></h2>
      </div>
    </div>



     <div class= "card-network d-flex align-items-center" >
      <%= image_tag "website.svg", class: "icone_menu" %>
      <p id="white" class="menu-titles ml-4">aline-michet.com</p>
    </div>

    <div>
      <p id="white">Linkedin : aline-michet </p>
    </div>


    <div class= "card-user ">
      <p> <strong>About :</strong> <%= @user.bio %> </p>
    </div>


   <div class= "m-4 ">
      <%= link_to render("shared/button", text: "SEND A MESSAGE"), new_user_message_path(@user.id) %>
   </div>

<div class="image-fond">
  <%= image_tag "show.svg" %>
</div>
