 <div class = "big-container">
  <div class= "top-banner mb-4">
        <h3 class="small-size text-right p-3 " id="corail">  <%=Date.today.to_s(:long) %></h3>
  </div>

<div class="d-flex">
  <div class="profil-container">
    <div class="white-card">
        <div class= "card-all-info  d-flex justify-content-start " >
          <% if @user.photo.attached? %>
            <div class="avatar-large">
              <%= cl_image_tag @user.photo.key, gravity: :face, height:50, width:50 %>
            </div>
          <% end %>
          <div class= "card-global-info ml-3">
              <h4 class="big-size"><%= @user.first_name %> </h4>
            <h2 class ="small-size"><%= @user.job.upcase %></h2>
          </div>
        </div>



      <div class= "card-bio ">
          <h2 class ="small-size">ABOUT</h2>
          <p id ="blue"> <%= @user.bio %> </p>
      </div>

      <div class="network">
        <h2 class ="small-size">NETWORK</h2>
          <div class="d-flex align-items-center mt-3">
            <%= image_tag "website.svg", class: "icone_menu align-items-center mr-2" %>
            <p id="blue" class="menu-titles align-items-center m-0"><%= @user.first_name.downcase%>-<%= @user.last_name.downcase%>.com</p>
          </div>
          <div class="d-flex align-items-center mt-3">
            <%= image_tag "linkedin.svg", class: "icone_menu align-items-center mr-2" %>
            <p id="blue" class="menu-titles align-items-center m-0"><%= @user.first_name.downcase%>-<%= @user.last_name.downcase%></p>
          </div>
      </div>

    <div class="message-cta" >
        <%= link_to render("shared/button", text: "SEND A MESSAGE"), new_user_message_path(@user.id) %>
     </div>
    </div>
  </div>

  <div class="last-post ml-5">
    <div class="statut" >
       <h3 class="middle-size" id="white"><em>"<%= @user.status %>"</em></h3>
    </div>
    <% if @user.posts.present?%>
    <div class="current-post">
      <h1 class="middle-size"> <%=@user.first_name.downcase%>'s current post</h1>
      <% @user.posts.each do |post| %>
      <div class="card-post" id="post-<%= post.id %>">

        <div class="flexbox cat-remove mb-3">
          <div class="category ">
            <h2 class="xsmall-size m-0 padding-category"id="white" ><%= post.category %></h2>
          </div>
        </div>

        <div class="card-center">
          <div class="d-flex justify-content-between ">
              <h1 class="small-size p-2"><%= post.title %></h1>
          </div>
          <div class="card-post-content " >
            <p class="small-size" id="blue"><%= post.content %></p>
          </div>
          <div class="m-5 text-right "> </div>
        </div>
      </div>
     <% end %>
      <%= link_to "See more posts", posts_path, class: "btn-link " %>
    </div>
    <% end %>
  </div>
 </div>

  <div class="image-fond">
    <%= image_tag "show.svg" %>
  </div>

