<% if user_signed_in? %>
  <div class="navbar-frame ">
    <div class="profil">
      <div class="m-4 text-center" >
        <%= link_to root_path do %>
          <%= image_tag "logo-blanc.svg", width:170%>
        <% end %>
      </div>
      <% if current_user.photo.attached? %>
        <div>
          <div class="text-center">
            <%= cl_image_tag current_user.photo.key, class: "small-avatar"%>
          </div>
          <div>
            <h2 class="xsmall-size text-center pt-3 m-0 " id="white"><%=current_user.first_name.upcase %> <%=current_user.last_name.upcase %> </h2>
            <p class="text-center small-size pt-1" id="white"><%=current_user.email%></p>
          </div>
        </div>
      <% end %>
    </div>

    <div class="menu flex-grow-1 p-4">
      <%= link_to users_path, class: "menu-title mt-5 d-flex #{'active' if request.path == '/users'}" do %>
        <div><%= image_tag "discover.svg", class: "icone_menu" %></div>
        <p id="white" class="menu-titles ml-4">Discover</p>
      <% end %>
      <%= link_to posts_path, class: "menu-title d-flex #{'active' if request.path == '/posts'}" do %>
        <div><%= image_tag "feed.svg", class: "icone_menu" %></div>
        <p id="white" class="menu-titles ml-4">Feed</p>
      <% end %>
      <div class="menu-title d-flex">
        <div><%= image_tag "chat.svg", class: "icone_menu" %></div>
        <p id="white" class="menu-titles ml-4">Messages</p>
      </div>

    <div class="conversations">
      <% if params[:controller] == "messages" %>
        <ul>
          <% @chats.each do |chat| %>
            <li><%= link_to chat[:name], new_user_message_path(chat[:id]) %></li>
          <% end %>
        </ul>
      <% end %>

    </div>




  </div>

<% else %>
  <div class="navbar-frame p-4 ">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "knock-logo.png" %>
    <% end %>
  </div>
<% end %>

</div>
