<ul class="nav nav-tabs tabs-underlined format-onglets ml-5" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="tab-underlined nav-link active" id="all-tab" data-toggle="tab" href="#all" role="tab" aria-controls="all" aria-selected="true">All</a>
  </li>
  <li class="nav-item">
    <a class="tab-underlined nav-link" id="community-tab" data-toggle="tab" href="#community" role="tab" aria-controls="community" aria-selected="false">Community</a>
  </li>
  <li class="nav-item">
    <a class="tab-underlined nav-link" id="utility-tab" data-toggle="tab" href="#utility" role="tab" aria-controls="utility" aria-selected="false">Utility</a>
  </li>
  <li class="nav-item">
    <a class="tab-underlined nav-link" id="expertise-tab" data-toggle="tab" href="#expertise" role="tab" aria-controls="expertise" aria-selected="false">Expertise</a>
  </li>
</ul>


<div class="m-5 text-right "> <%= link_to "New Post", new_post_path, class: "btn-secondary new-post " %></div>
<div class="tab-content" id="myTabContent">

  <div class="tab-pane fade show active posts-container" id="all" role="tabpanel" aria-labelledby="all-tab">
    <div class="cards-p">
      <% @posts.each do |post| %>
      <div class="card-post" id="post-<%= post.id %>">

        <div class="flexbox cat-remove mb-3">
          <div class="category "><h2 class="xsmall-size m-0 padding-category"id="white" ><%= post.category %></h2></div>
          <div class="remove">
          <%= link_to "❌", post_excludeds_path(post), method: :post, remote: true, id: "bomb" %>
          </div>
      </div>

        <div class="card-center">

          <div class=" card-post-info d-flex mb-2 ">
            <div class ="p-2 ">
              <% if post.user.photo.attached? %>
              <div class="avatar-post"><%= cl_image_tag post.user.photo.key, height:50, width:50 %></div>
              <% end %>
            </div>
            <div class ="ml-3 mt-3">
              <h4 class="user"><%= post.user.first_name %></h4>
              <h2 class="xsmall-size"><%= post.user.job.upcase %></h2>
            </div>
            <div>
              <progress id="file" max="100" value="<%= 100 - (post.expires_at - Time.zone.now) / 86400 * 100 %>"></progress>
            </div>
          </div>

          <div class="d-flex justify-content-between ">
              <h1 class="small-size p-2"><%= post.title %></h1>
          <h5 class="created p-2 "  id="blue"><%= post.created_at.strftime("%d %b - %I.%M") %></h5>
          </div>
          <div class="card-post-content " >
            <p class="small-size" id="blue"><%= post.content %></p>
          </div>
          <div class="m-5 text-right "> </div>
      </div>

      <div class="div-delete">
        <% if post.user == current_user %>
          <%= link_to "Delete my post", post_path(post), data: { confirm: "Are you sure you want to delete your post?" }, method: :delete, class: "btn-4tiary-delete" %>
        <% else %>
          <%= link_to "Start chat", user_messages_path(post.user), class: "btn-4tiary-chat" %>
        <% end %>
      </div>

    </div>
     <% end %>
    </div>
  </div>

  <div class="tab-pane fade" id="community" role="tabpanel" aria-labelledby="community-tab">
    <div class="cards">
      <% @community_posts.each do |post| %>
      <div class="card-post">

        <div class="flexbox cat-remove mb-0">
          <div><h6></h6></div>
          <div class="category"><h6><%= post.category %></h6></div>
          <div class="remove">
          <%= link_to "❌", post_excludeds_path(post), method: :post %>
          </div>
        </div>

        <div class="card-center">
          <div class="flexbox card-post-info p-1">
           <div class ="p-2 ">
             <% if post.user.photo.attached? %>
             <div class="avatar-post"><%= cl_image_tag post.user.photo.key, height:50, width:50 %></div>
             <% end %>
           </div>
            <div class="user-created">
              <h4 class="user mb-0"><%= post.user.first_name %></h4>
              <h2 class="created"><%= post.created_at.strftime("%d %b - %I.%M") %></h2>
            </div>
            <div>
              <progress id="file" max="100" value="<%= 100 - (post.expires_at - Time.zone.now) / 86400 * 100 %>"></progress>
            </div>
          </div>
          <div>
            <h2 class="card-post-title pl-1"><%= post.title %></h2>
          </div>
          <div class="card-post-content">
            <p class="content"><%= post.content %></p>
          </div>
      </div>

      <div class="div-delete">
        <% if post.user == current_user %>
          <%= link_to "delete post", post_path(post), data: { confirm: "Are you sure you want to delete your post?" }, method: :delete, class: "btn-delete" %>
        <% else %>
        <% end %>
      </div>

    </div>
     <% end %>
    </div>
  </div>

  <div class="tab-pane fade" id="utility" role="tabpanel" aria-labelledby="utility-tab">
    <div class="cards">
      <% @utility_posts.each do |post| %>
      <div class="card-post">

        <div class="flexbox cat-remove mb-0">
          <div><h6></h6></div>
          <div class="category"><h6><%= post.category %></h6></div>
          <div class="remove">
          <%= link_to "❌", post_excludeds_path(post), method: :post %>
          </div>
        </div>

        <div class="card-center">
          <div class="flexbox card-post-info p-1">
            <div class ="p-2 ">
              <% if post.user.photo.attached? %>
              <div class="avatar-post"><%= cl_image_tag post.user.photo.key, height:50, width:50 %></div>
              <% end %>
            </div>
            <div class="user-created">
              <h4 class="user mb-0"><%= post.user.first_name %></h4>
              <h2 class="created"><%= post.created_at.strftime("%d %b - %I.%M") %></h2>
            </div>
            <div>
              <progress id="file" max="100" value="<%= 100 - (post.expires_at - Time.zone.now) / 86400 * 100 %>"></progress>
            </div>
          </div>
          <div>
            <h2 class="card-post-title pl-1"><%= post.title %></h2>
          </div>
          <div class="card-post-content">
            <p class="content"><%= post.content %></p>
          </div>
      </div>

      <div class="div-delete">
        <% if post.user == current_user %>
          <%= link_to "delete my post", post_path(post), data: { confirm: "Are you sure you want to delete your post?" }, method: :delete, class: "btn-tertiary" %>
        <% else %>
        <% end %>
      </div>

    </div>
     <% end %>
    </div>
  </div>


  <div class="tab-pane fade" id="expertise" role="tabpanel" aria-labelledby="expertise-tab">
    <div class="cards">
      <% @expertise_posts.each do |post| %>
      <div class="card-post">

        <div class="flexbox cat-remove mb-0">
          <div><h6></h6></div>
          <div class="category"><h6><%= post.category %></h6></div>
          <div class="remove">
          <%= link_to "❌", post_excludeds_path(post), method: :post %>
          </div>
        </div>

        <div class="card-center">
          <div class="flexbox card-post-info p-1">
            <div class ="p-2 ">
              <% if post.user.photo.attached? %>
              <div class="avatar-post"><%= cl_image_tag post.user.photo.key, height:50, width:50 %></div>
              <% end %>
            </div>
            <div class="user-created">
              <h4 class="user mb-0"><%= post.user.first_name %></h4>
              <h2 class="created"><%= post.created_at.strftime("%d %b - %I.%M") %></h2>
            </div>
            <div>
              <progress id="file" max="100" value="<%= 100 - (post.expires_at - Time.zone.now) / 86400 * 100 %>"></progress>
            </div>
          </div>
          <div>
            <h2 class="card-post-title pl-1"><%= post.title %></h2>
          </div>
          <div class="card-post-content">
            <p class="content"><%= post.content %></p>
          </div>
      </div>

      <div class="div-delete">
        <% if post.user == current_user %>
          <%= link_to "delete my post", post_path(post), data: { confirm: "Are you sure you want to delete your post?" }, method: :delete, class: "btn-tertiary" %>
        <% else %>
        <% end %>
      </div>

    </div>
     <% end %>
    </div>
  </div>

  <div class="tab-pane fade" id="new" role="tabpanel" aria-labelledby="new-tab">
    <div class = "btn-new"></div>
  </div>

</div>



