

<ul class="nav nav-tabs tabs-underlined format-onglets" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="tab-underlined nav-link active" id="all-tab" data-toggle="tab" href="#all" role="tab" aria-controls="all" aria-selected="true">All</a>
  </li>
  <li class="nav-item">
    <a class="tab-underlined nav-link" id="community-tab" data-toggle="tab" href="#community" role="tab" aria-controls="community" aria-selected="false">Community</a>
  </li>
  <li class="nav-item">
    <a class="tab-underlined nav-link" id="utility-tab" data-toggle="tab" href="#utility" role="tab" aria-controls="utility" aria-selected="false">Utility</a>
  </li>
  <li class="nav-item">
    <a class="tab-underlined nav-link" id="expertise-tab" data-toggle="tab" href="#expertise" role="tab" aria-controls="expertise" aria-selected="false">Expertise</a>
  </li>
  <li class="nav-item">
    <a id="new-tab" data-toggle="tab" href="#new" role="tab" aria-controls="new" aria-selected="false"><%= link_to "New Post", new_post_path, class: "tab-underlined nav-link" %></a>
  </li>
</ul>


<div class="tab-content" id="myTabContent">

  <div class="tab-pane fade show active" id="all" role="tabpanel" aria-labelledby="all-tab">
    <div class="cards">
      <% @posts.each do |post| %>
      <div class="card-post">

        <div class="flexbox cat-remove mb-0">
          <div><h6></h6></div>
          <div class="category"><h6><%= post.category %></h6></div>
          <div class="remove">
          <%= link_to "💣", post_excludeds_path(post), method: :post%>
          </div>
        </div>

        <div class="card-center">
          <div class="flexbox card-post-info p-1">
            <div>
              <%= image_tag "Pripri.png", :class => "avatar-small" %>
            </div>
            <div class="user-created">
              <h5 class="user mb-0"><%= post.user.first_name %></h5>
              <h5 class="created"><%= post.created_at.strftime("%d %b - %I.%M") %></h5>
            </div>
          </div>
          <div>
            <h2 class="card-post-title pl-1"><%= post.title %></h2>
          </div>
          <div class="card-post-content">
            <p class="content"><%= post.content %></p>
          </div>
      </div>

      <div class="div-delete">
        <% if post.user == current_user %>
          <%= link_to "delete post", post_path(post), data: { confirm: "Are you sure you want to delete your post?" }, method: :delete, class: "btn-delete" %>
        <% else %>
        <% end %>
      </div>

    </div>
     <% end %>
    </div>
  </div>

  <div class="tab-pane fade" id="community" role="tabpanel" aria-labelledby="community-tab">
    <div class="cards">
      <% @community_posts.each do |post| %>
      <div class="card-post">

        <div class="flexbox cat-remove mb-0">
          <div><h6></h6></div>
          <div class="category"><h6><%= post.category %></h6></div>
          <div class="remove">
          <%= link_to "💣", post_excludeds_path(post), method: :post %>
          </div>
        </div>

        <div class="card-center">
          <div class="flexbox card-post-info p-1">
            <div>
              <%= image_tag "Pripri.png", :class => "avatar-small" %>
            </div>
            <div class="user-created">
              <h5 class="user mb-0"><%= post.user.first_name %></h5>
              <h5 class="created"><%= post.created_at.strftime("%d %b - %I.%M") %></h5>
            </div>
          </div>
          <div>
            <h2 class="card-post-title pl-1"><%= post.title %></h2>
          </div>
          <div class="card-post-content">
            <p class="content"><%= post.content %></p>
          </div>
      </div>

      <div class="div-delete">
        <% if post.user == current_user %>
          <%= link_to "delete post", post_path(post), data: { confirm: "Are you sure you want to delete your post?" }, method: :delete, class: "btn-delete" %>
        <% else %>
        <% end %>
      </div>

    </div>
     <% end %>
    </div>
  </div>

  <div class="tab-pane fade" id="utility" role="tabpanel" aria-labelledby="utility-tab">
    <div class="cards">
      <% @utility_posts.each do |post| %>
      <div class="card-post">

        <div class="flexbox cat-remove mb-0">
          <div><h6></h6></div>
          <div class="category"><h6><%= post.category %></h6></div>
          <div class="remove">
          <%= link_to "💣", post_excludeds_path(post), method: :post %>
          </div>
        </div>

        <div class="card-center">
          <div class="flexbox card-post-info p-1">
            <div>
              <%= image_tag "Pripri.png", :class => "avatar-small" %>
            </div>
            <div class="user-created">
              <h5 class="user mb-0"><%= post.user.first_name %></h5>
              <h5 class="created"><%= post.created_at.strftime("%d %b - %I.%M") %></h5>
            </div>
          </div>
          <div>
            <h2 class="card-post-title pl-1"><%= post.title %></h2>
          </div>
          <div class="card-post-content">
            <p class="content"><%= post.content %></p>
          </div>
      </div>

      <div class="div-delete">
        <% if post.user == current_user %>
          <%= link_to "delete post", post_path(post), data: { confirm: "Are you sure you want to delete your post?" }, method: :delete, class: "btn-delete" %>
        <% else %>
        <% end %>
      </div>

    </div>
     <% end %>
    </div>
  </div>

  <div class="tab-pane fade" id="expertise" role="tabpanel" aria-labelledby="expertise-tab">
    <div class="cards">
      <% @expertise_posts.each do |post| %>
      <div class="card-post">

        <div class="flexbox cat-remove mb-0">
          <div><h6></h6></div>
          <div class="category"><h6><%= post.category %></h6></div>
          <div class="remove">
          <%= link_to "💣", post_excludeds_path(post), method: :post %>
          </div>
        </div>

        <div class="card-center">
          <div class="flexbox card-post-info p-1">
            <div>
              <%= image_tag "Pripri.png", :class => "avatar-small" %>
            </div>
            <div class="user-created">
              <h5 class="user mb-0"><%= post.user.first_name %></h5>
              <h5 class="created"><%= post.created_at.strftime("%d %b - %I.%M") %></h5>
            </div>
          </div>
          <div>
            <h2 class="card-post-title pl-1"><%= post.title %></h2>
          </div>
          <div class="card-post-content">
            <p class="content"><%= post.content %></p>
          </div>
      </div>

      <div class="div-delete">
        <% if post.user == current_user %>
          <%= link_to "delete post", post_path(post), data: { confirm: "Are you sure you want to delete your post?" }, method: :delete, class: "btn-delete" %>
        <% else %>
        <% end %>
      </div>

    </div>
     <% end %>
    </div>
  </div>

  <div class="tab-pane fade" id="new" role="tabpanel" aria-labelledby="new-tab">
    <div class = "btn-new">

    </div>
  </div>

</div>



